[client]
port=3306
#socket=/var/lib/mysql/mysql.sock
default-character-set=utf8mb4



[mysql]
default-character-set=utf8mb4
#no-auto-rehash



[mysqld]
server-id=2
port=3306
#socket=/var/lib/mysql/mysql.sock
#pid-file=/var/lib/mysql/mysql.pid
log-error=/var/lib/mysql/error.log
skip-name-resolve
default_authentication_plugin=mysql_native_password
#datadir=/var/lib/mysql/data
secure_file_priv=''

# ignore table
replicate-ignore-table=mydb.kv

# gtid mode
gtid_mode=ON
enforce_gtid_consistency=ON
expire-logs-days=15
# slave
log_slave_updates=1
slave-parallel-workers=8
slave-parallel-type=LOGICAL_CLOCK

# binlog
log_bin=mysql-bin
binlog_format=ROW

# relaylog - replication
relay_log_info_repository=TABLE
master_info_repository=TABLE
relay_log_recovery=ON
relay-log=mysql-relay
relay-log-index=mysql-relay.index

# character related option
character-set-client-handshake=FALSE
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'
# unix 0, win 1, mac 2
#lower_case_table_names=1

# slow query
slow_query_log=ON
slow_query_log_file=/var/lib/mysql/slow.log
long_query_time=1
log_queries_not_using_indexes=ON

